### Importing the Libraries

In [1]:
# Importing python libraries
import pandas as pd
import numpy as np

### Loading Dataset

In [60]:
autolib = pd.read_csv("http://bit.ly/autolib_dataset")
autolib.head(2)

                     Address  Cars  Bluecar counter  ...  day  hour  minute
0        2 Avenue de Suffren     0                0  ...    8    11      43
1  145 Rue Raymond Losserand     6                6  ...    6     7      24

[2 rows x 25 columns]

### Reviewing the Dataset

In [61]:
autolib.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [62]:
autolib.shape

(5000, 25)

In [63]:
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

### DATA CLEANING

In [64]:
def cleandata():
  autolib.isnull().sum()
  autolib.drop_duplicates()
  autolib['Bluecar counter'] == autolib['Cars']
  autolib.drop(['Displayed comment','Scheduled at','Cars'], axis = 1, inplace = True)

  return autolib

In [65]:
def change_datatypes():
  autolib = cleandata()
  autolib['Date'] = autolib.year.astype(str) + str('-0') + autolib.month.astype(str) + str('-0') + autolib.day.astype(str)

  # Changing the Date column datatype
  autolib['Date']=pd.to_datetime(autolib['Date'])
  autolib.drop(['year','month','day'], axis = 1, inplace = True)
  autolib.columns = autolib.columns.str.strip().str.lower().str.replace(' ','_').str.replace('(', '').str.replace(')', '')


  return autolib

In [66]:
autolib = change_datatypes()

In [67]:
autolib

                                 address  bluecar_counter  ...  minute       date
0                    2 Avenue de Suffren                0  ...      43 2018-04-08
1              145 Rue Raymond Losserand                6  ...      24 2018-04-06
2       2 Avenue John Fitzgerald Kennedy                3  ...      14 2018-04-03
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...      37 2018-04-04
4     6 avenue de la Porte de Champerret                3  ...      23 2018-04-08
...                                  ...              ...  ...     ...        ...
4995                 8 avenue MÃ©nelotte                2  ...      26 2018-04-06
4996                   37 rue de Dantzig                4  ...      56 2018-04-04
4997                      142 rue du Bac                1  ...       1 2018-04-01
4998         2 avenue du Val de Fontenay                2  ...      27 2018-04-04
4999                 5 Rue Henry Brisson                4  ...       2 2018-04-08

[5000 rows x 20 columns]

### Data Analysis

##### Most popular hour for picking the Bluecar in the city of Paris

In [69]:
# Creating a dataframe with city as Paris and Bluecars > 0 

paris = autolib[(autolib['city']== 'Paris')&(autolib['bluecar_counter'] > 0)]
paris

# Grouping the bluecars count per each hour
bluecars = paris['bluecar_counter'].groupby(paris['hour']).sum().reset_index(name='Bluecars_per_each_hour')
bluecars

# Finding the hour with the least cars
bluecars[bluecars['Bluecars_per_each_hour'] == bluecars['Bluecars_per_each_hour'].min()]

    hour  Bluecars_per_each_hour
20    20                     149

In [30]:
df1 = paris.groupby(['hour'])['slots'].sum().reset_index(name='Total')
df1
# station = autolib.groupby(['public_name'])['id'].count().reset_index(name='Visits')
# df = autolib['slots'].groupby(autolib['hour']).sum().reset_index(name="Total")

df1[df1['Total'] == df1['Total'].max()]

    hour  Total
12    12    135

##### Most popular hour for returning cars

In [ ]:
# # Creating a df with one or more bluecars and utilib cars 
# returncar = autolib[(autolib['bluecar_counter'] != 0) | (autolib['utilib_counter'] != 0) | (autolib['utilib_1.4_counter'] != 0 )]
# returncar.tail()

# # Creating a column called "total_cars" to sum up the number of all cars per column 
# returncar['total_cars'] = returncar['bluecar_counter'] + returncar['utilib_counter'] + returncar['utilib_1.4_counter']
# returncar

# # Creating a df that groups the data per hour and sums up the number of cars per hour
# returncars_df = returncar['total_cars'].groupby(returncar['hour']).sum().reset_index(name="Total_Cars_per_Hour")
# returncars_df

# # Finding the hour with the most cars 
# returncars_df[returncars_df['Total_Cars_per_Hour'] == returncars_df['Total_Cars_per_Hour'].max()]

In [29]:
# Grouping by hours and counting the number of available parking slots 
df = autolib['slots'].groupby(autolib['hour']).sum().reset_index(name="Total")
df
df[df['Total'] == df['Total'].min()]

    hour  Total
17    17    349

In [ ]:
autolib

##### Most popular station

###### Overall

In [166]:
# Creating a df with ID count grouped by "public_name"
station = autolib.groupby(['public_name'])['id'].count().reset_index(name='Visits')
station

# Finding the most popular station with many visits
station[station['Visits'] == station['Visits'].max()]

                    public_name  Visits
800  Paris/Porte de Montrouge/8      13

In [32]:
# station1= autolib.groupby(['public_name'])['slots'].sum().reset_index(name='No_of_Slots')
# station1[station1['No_of_Slots'] == station1['No_of_Slots'].max()]

                 public_name  No_of_Slots
388          Paris/Astorg/11           41
871  Paris/Saint-HonorÃ©/123           41

###### Most popular station at the most popular picking hour

In [33]:
df[df['Total'] == df['Total'].max()] # Most popular picking hours has most parking slots

    hour  Total
14    14    441

In [39]:
station_df1 = autolib.groupby(['hour','public_name'])['slots'].count().reset_index(name='Slots')
station_df1
most_pop_sta1 = station_df1[station_df1['hour'] == 14]
most_pop_sta1[most_pop_sta1['Slots'] == most_pop_sta1['Slots'].max()]

      hour                     public_name  Slots
2766    14                 Paris/Aumale/28      3
2803    14  Paris/Jean-Jacques Rousseau/62      3

In [ ]:
# returncars_df[returncars_df['Total_Cars_per_Hour'] == returncars_df['Total_Cars_per_Hour'].min()]

In [ ]:
# Grouping the df by 'hour' and 'pulic_name' and their 'id' count
# station_df = autolib.groupby(['hour','public_name'])['id'].count().reset_index(name='Visits')
# station_df


# # Finding the most popular 
# # station_df[station_df['Visits'] == station_df['Visits'].max()]


# # Finding the station on the most popular hour
# most_pop_sta = station_df[station_df['hour'] == 19]
# most_pop_sta[most_pop_sta['Visits'] == most_pop_sta['Visits'].max()]

##### Most popular postal code for picking up Bluecars

###### Overall

In [15]:
# Group by the "postal_code" and sum up the number of bluecars
pop_code = autolib.groupby(['postal_code'])['bluecar_counter'].sum().reset_index(name='Total_Bluecars')
pop_code

# Finding the most popular "postal_code"
pop_code[pop_code['Total_Bluecars'] == pop_code['Total_Bluecars'].min()]

    postal_code  Total_Bluecars
25        78280               0
29        91570               0
79        93390               0
98        94370               0

##### Does the most popular station belong to that postal code?

In [181]:
# Grouping with "postal_code","public_name" and "hour" and finding the "id" count
pop_stat_code  = autolib.groupby(['postal_code','public_name','hour'])['id'].count().reset_index(name='Visits')
pop_stat_code


pop_stat_code[pop_stat_code['Visits'] == pop_stat_code['Visits'].max()]

     postal_code        public_name  hour  Visits
655        75008  Paris/Tronchet/19    21       4
813        75010   Paris/Paradis/28    20       4